/* 
    Document   : button_green
    Created on : 27 Oct, 2011, 3:52:43 PM
    Author     : Arun
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.green{
     margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    padding: 5px;
    padding-left: 8px;
    padding-right:8px;
    border-style: solid;
    border-color: #00cc00;
    border-width: thin;
    background:#BEDE79;
    border-radius:3px;


}
.green:hover{
    background:  #69d22c; 
}

.green:active{
    background: #BEDE79; 
}