/* 
    Document   : form_a_b
    Created on : 30 Oct, 2011, 6:30:50 PM
    Author     : Arun
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html
{
    /*    background-color: #B5DAF6;*/
    font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    
}

form{

    font-size: small;
    font-style: normal;
    text-align:justify;
    float: none;
    position: relative;  
    padding-top: 20px;  
    margin:auto;  
    background-color: #fff;  
    margin-left:10px;
    margin-right:10px;
/*zoom:0.7;*/
}
label {
    display: block;
    float: left;
    width: 80px;
    text-align: left;
    font-weight: normal;
    padding-top:4px;
    padding-left: 5px;
}




fieldset{
    border-bottom-color: chocolate;
    border-left-style:none; 
    border-right-style:none; 
    border-top-style:none; 
    border-bottom-style: solid;
    border-bottom-width:1px;
    padding:7px;
}

#submit,#cancel{
    float:right;
    padding-right:20px;

}
#header{
    color:gray;
    border-bottom-style:solid;
    padding:10px;
    border-bottom-width:1px;
    font-weight:bold;
    border-bottom-color:lightgray;
    /*width:330px;*/
    background-color:#F3F3F3;


}
footer {
    margin-top: 17px;
    border-top: 1px solid #eee;
    background-color:#F3F3F3;
    padding: 14px 15px 60px;
    border-top: 1px solid #ddd;
    width:100%;
    margin-left:-20px;
}