/* 
    Document   : Form
    Created on : 30 Jun, 2011, 8:16:30 PM
    Author     : Arun
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

input[type="submit"] {
    position:relative;
    width:50%;
    background:#339cdf url(../img/Dropbuttonbg.png) repeat-x;
    bottom:-1px;   
}
form{
    font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    font-style: bold;
    background: #21638c;
    background-image: url("../img/test1.jpeg"), url("../img/test2.jpeg");
    background-repeat: repeat-x, repeat;
    text-align:justify;
    float: none;
    padding: 20px;  
    width: 14cm;    
}
form.login {    
    border-right-style: outset;
    border-left-style: outset;
    border-bottom-style: outset;
    border-top-style: outset;
    border-right-color: #ebe2c1;
    border-left-color: #ebe2c1;
    border-bottom-color: #ebe2c1;
    border-top-color: #ebe2c1;
    position: relative;
    font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    color: #4d4021;    
    width: 260px;
}
input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}
span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}
