/* 
    Document   : Form
    Created on : 30 Jun, 2011, 8:16:30 PM
    Author     : Arun
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
html{
    
}

form.login{
    font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    font-style: bold;
    background-color:#F0F0F0;
    border-style: solid;
    border-width:1px; 
    border-color:lightgray;
    text-align:justify;
/*    float: right;*/
    padding: 20px;  
    padding-top:40px;
    width:300px;
    height:240px; 
/*    margin-top: 40px;*/
margin-left: auto;
margin-right: auto;
    
}

#login{
    padding-top: 60px;
/*    padding-right:30px;*/
   
}
label{
 line-height:25px;
 
}
input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
     font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}
input[type="submit"] {
    position:relative;
    width:28%;
    padding:8px;
   
}

input:focus{
    border-color:#1C9BF4;
    border-width:1px;
}
.input{
    padding-top:15px;
}
.submit{
    padding-top: 10px;
}
#frgt-pwd {
    text-align:left;
    display:block;
    padding:7px 0 4px 0;
    font-size:13px;
    
}

#header{
    color:gray;
    border-bottom-style:solid;
    padding:10px;
    height:50px;
    border-bottom-width:1px;
    font-weight:bold;
    border-bottom-color:lightgray;
    /*width:330px;*/
    background-color:#F3F3F3;
    

}
img{
    height: 60px;
}
footer {
   border-top-color:#EBEBEB;
  border-top-style:solid;
  border-top-width:1px;
  bottom:0;
  height:35px;
  position:absolute;
  width:100%;
    background-color:#F3F3F3;
}
/* some css for all validation messages */
.LV_validation_message{
padding-left: 10px;
font-size:12px;
color:#DD4B39;
}

h2{
    font-family: arial;
    font-size:40px;
    
}
:root .message {
   margin-left: 35% !important ;
    
}
#flashMessage ,#authMessage {
  width:100%;
  color:#c43c35;
}