.blue,input[type="submit"] {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    padding: 5px;
    padding-left: 8px;
    padding-right:8px;
    border-style: solid;
    border-color:#0596fa;
    border-width: thin;
    background: #75c0f7;
        
    border-radius:3px;


}.blue:hover{background: #1c9bf4;}input[type="submit"]:hover{background: #1c9bf4;}
.blue:active{background: #75c0f7;}input[type="submit"]:active{background: #75c0f7;}